@page
@model Estudio.Pages.Agendamentos.CadConsumivelModel
@{
    ViewData["Title"] = "Cadastrar consumível";
}

<h2>Cadastrar</h2>

<h4>Consumível</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="ConsumiveisViewModel[0].IdAgendamento" class="control-label">Agendamento</label>
				<select asp-for="ConsumiveisViewModel[0].IdAgendamento" asp-items="Model.Agendamentos" class="form-control">
					<option value="0">Selecione uma banda</option>
				</select>
				<span asp-validation-for="ConsumiveisViewModel[0].IdAgendamento" class="text-danger"></span>
			</div>

			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Nome</th>
						<th>Valor</th>
						<th>Quantidade</th>
					</tr>
				</thead>
				<tbody>
					@for (int i = 0; i < Model.ConsumiveisViewModel.Count; i++) {
					   <tr>
						   <td>
							   @*<input asp-for="ConsumiveisViewModel[i].IdConsumivel" type="hidden" value="@Model.Consumiveis[i].Id" />*@
							   @Html.HiddenFor(x => x.ConsumiveisViewModel[i].IdConsumivel)
							   @Html.DisplayFor(modelConsumivel => @Model.ConsumiveisViewModel[i].IdConsumivel)
						   </td>
						   <td>
							   @Html.DisplayFor(modelConsumivel => Model.ConsumiveisViewModel[i].Descricao)
						   </td>
						   <td>
							   R$@Html.DisplayFor(modelConsumivel => Model.ConsumiveisViewModel[i].Valor)
						   </td>
						   <td>
							   @Html.TextBoxFor(x => x.ConsumiveisViewModel[i].Quantidade, null, new { @class = "form-control" })
							   @*<input asp-for="ConsumiveisViewModel[i].Quantidade" class="form-control" />*@
						   </td>

					   </tr>
					}
				</tbody>
			</table>

			<div class="form-group">
				<input type="submit" value="Cadastrar" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

